@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:ital,wght@0,100;1,100&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

:root {
    /* Fonts */
    --font-size-default: 16px;
    --font-family-one: 'Josefin Sans', sans-serif;
    --font-family-two: 'Roboto', sans-serif;
    --font-weight-normal: 100;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-unit: 1rem;
    --spacing-unit-half: 0.5rem;
    --spacing-unit-double: 2rem;

    /* Colors */
    --teal: rgb(147,177,166);
    --dark-teal: rgb(92, 131, 116);
    --darker-teal: rgb(24, 61, 61);
    --black: rgb(4, 13, 18);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-two);
    font-weight: var(--font-weight-normal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    font-family: var(--font-family-one);
    font-weight: var(--font-weight-bold);
}

.player {
    font-size: 2em;
    font-weight: var(--font-weight-bold);
    color: var(--darker-teal);
    margin-bottom: var(--spacing-unit);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player span{
    color: var(--teal);
}

.boardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    font-size: 3em;
    font-weight: var(--font-weight-bold);
    justify-content: center;
    align-items: center;
    color: white;
}

.odd {
    background-color: var(--teal);
}

.even {
    background-color: var(--dark-teal);
}

.box:hover {
    background: radial-gradient(circle, var(--dark-teal), var(--darker-teal));
}

.reset {
    font-size: 2.5em;
    font-family: var(--font-family-one);
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-unit-double);
    padding: var(--spacing-unit-double);
    padding-bottom: var(--spacing-unit-half);
    padding-top: var(--spacing-unit);
    /* background: linear-gradient(to bottom, teal, var(--black)); */
    background: radial-gradient(circle, var(--teal), var(--dark-teal));
    border-radius: var(--spacing-unit-double);
    color: white;
    cursor: pointer;
}

.visibility-off {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.visibility-on{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s ease-out;
}

.historyBox {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-top: var(--spacing-unit)
}

.previous, .next {
    font-size: 2em;
    font-family: var(--font-family-one);
    color: white;
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-unit);
    padding-bottom: var(--spacing-unit-half);
    border-radius: var(--spacing-unit-double);
    cursor: pointer;
}

.previous {
    background: linear-gradient(to left, var(--teal), var(--dark-teal));
    border-end-end-radius: 0;
}
.previous:hover, .next:hover, .reset:hover {
    background: radial-gradient(circle, var(--dark-teal), var(--darker-teal));
}

.next {
    background: linear-gradient(to right, var(--teal), var(--dark-teal));
    border-start-start-radius: 0;
}

.disabled-button {
    background: linear-gradient(to bottom, gray, black);
    cursor: auto;
}

@media screen and (max-width: 425px){
    h1 {
        font-size: 3em;
    }

    .player {
        font-size: 1.25em;
    }

    .historyBox {
        width: 300px;
    }
}